/// <reference path="../bootstrap/bootstrap.less" />
/// <reference path="variables.less" />
/// <reference path="utilities.less" />
/// <reference path="type.less" />

html {
	font-size: 62.5%;
}

body {
    .transition(padding 0.5s ease-in); // Fade in border
    background-color: @container-border-color;
    color: @text-color;

    // Uncomment for original 8 px border
    // padding: 8px;

    // @media (min-width: @screen-sm-min) {
    //     padding: 0;
    // }

    // &.padding-active {
    //     padding: 8px;
    // }

    // html.sb-active & {
    //     padding-left: 0;
    //     .transition(none);
    // }
}

.link {
    color: @brand-red;
    &:hover {
        text-decoration: none;
        font-weight: bold;
        color: @brand-red;
    }
}

.no-wrap {
    white-space: nowrap;
}

// FAQ modal

.faq {
    .icon-cross {
        .font-size(3.4);
        position: absolute;
        top: 21px;
        right: 21px;
        cursor: pointer;
        color:  #0c0c0c;
    }

    .question {
        color: black;
    }

    h1, h3, p {
        padding-top: 21px;
    }

    p {
        color: #7e7e7e;
    }

    text-align: left;       
}

// Pre Order Modal

.pre-order {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    padding: 0;

    @media(min-width: @screen-large-mobile-min) {
        width: 100%;
    }
     @media(min-width: @screen-sm-min) {
        width: 500px;
     }

    .icon-cross {
        position: absolute;
        right: 21px;
        top: 15px;
        float: right;
        .font-size(3.4);
        cursor: pointer;
    }

    hr {
        margin: 0;
        .make-xs-column(12);
    }

    h1 {
        .font-size(4.0);
        padding: 21px 21px;
    }

    >div {
        .make-sm-column(12);
        .make-xs-column(12);
        padding: 21px 21px;
        
        > p {
            .font-size(1.1);
            .make-xs-column(12);
            &:first-of-type {
                margin-top: 0;
                .font-size(1.3);
            }

            margin-top: 21px;
            .make-xs-column(12);
        }

        a {
            .make-xs-column(12);
            margin-top: 21px;
        }

        #buy-diy {
            display: none;
        }

        .expand {
                height: 240px;
                >div:first-of-type {
                    height: 200px;
                    overflow: auto;
                }
                >div:last-of-type {
                    height: 20px;
                }
            }

        >div {
            .make-xs-column(12);
            height: 310px;
            >div:first-of-type {
                height: 200px;
                overflow: auto;
            }
            >div:last-of-type {
                height: 20px;
            }

            form {
                margin-top: 21px;
                input {
                    display: inline;
                }

                >p {
                    display: inline-block;
                    margin-left: 11px;
                }
            }

            >a {
                margin-top: 21px;
            }
            
            p {
                .font-size(1.2);
                padding-top: 21px;
                padding-right: 21px;
                &:first-of-type {
                    padding-top: 0;
                }
            }
        }
    }
}


// Custom text selection styling
::selection {
    background-color: @text-select-bg-color;
    color: @text-select-color;
}
::-moz-selection {
    background-color: @text-select-bg-color;
    color: @text-select-color;
}

// Push navigation
nav {
    background-color: @nav-bg-color;

    >div {
        padding-left: 15%;
        width: 100%;

        @media (min-width: @screen-sm-min) {
            padding-left: 13%;
        }

        @media (min-width: @screen-md-min) {
            padding-left: 20%;
        }

        .main-nav {
            li {
                margin-top: 28px;

                @media (min-width: @screen-sm-min) {
                    margin-top: 42px;
                }

                @media (min-width: @screen-md-min) {
                    margin-top: 35px;
                }

                @media (min-width: @screen-lg-min) {
                    margin-top: 56px;
                }
            }

            a {
                .font-avenir-next-bold();
                .font-size(3.0);
                .transition(color 0.5s ease-in-out);
                color: @nav-text-color;
                line-height: 32px;

                @media (min-width: @screen-sm-min) {
                    .font-size(2.6);
                    line-height: 27px;
                }

                @media (min-width: @screen-lg-min) {
                    .font-size(3.1);
                    line-height: 32px;
                }

                html.touch &:hover {
                    color: @nav-text-color;
                }

                html.no-touch &:hover {
                    color: @nav-text-hover-color;
                    text-decoration: none;
                }
            }
        }

        .follow-us {
            .font-monosten-a();
            .font-size(1.4);
            color: @nav-text-color;
            display: inline-block;
            line-height: 20px;
            margin-top: 56px;
            width: 70%;

            @media (min-width: @screen-sm-min) {
                margin-top: 84px;
            }

            @media (min-width: @screen-md-min) {
                margin-top: 70px;
                width: 45%;
            }

            @media (min-width: @screen-lg-min) {
                margin-top: 112px;
            }
        }

        .social-nav {
            margin-top: 28px;

            @media (min-width: @screen-sm-min) {
                margin-top: 42px;
            }

            @media (min-width: @screen-md-min) {
                margin-top: 35px;
            }

            @media (min-width: @screen-lg-min) {
                margin-top: 56px;
            }

            li {
                display: inline-block;
                width: 32%;

                a {
                    .font-size(3.4);
                    .transition(color 0.5s ease-in-out);
                    color: @nav-text-color;

                    html.touch &:hover {
                        color: @nav-text-color;
                    }

                    html.no-touch &:hover {
                        color: @nav-text-hover-color;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

.wrapper {
    background-color: @container-bg-color;
    overflow: hidden;
    position: relative;
}

// Burger icon & UpDroid logo icon

header[role=banner] {
    .transition(all 0.5s ease-in-out);
    position: fixed;
        z-index: 200;
        width: 100%;
        height: 42px;
        background-color: transparent;

    #top-order {
        position: absolute;
        top: 18px;
        right: 52px;
        width: 100px;
        .transition(all .25s ease-in-out);

        @media (min-width: @screen-sm-min) {
            top: 25px;
            right: 60px;
        }

        @media (min-width: @screen-lg-min) {
            top: 45px;
            right: 73px;
        }
    }

    span {
        color: white;
        .font-size(2.4);
        .transition(all 0.25s ease-in-out);
        position: absolute;
        top: 21px;
        z-index: 101;
        opacity: 1;

        @media (min-width: @screen-sm-min) {
            top: 28px;
        }

        @media (min-width: @screen-lg-min) {
            top: 49px;
        }

        &.icon-burger {
            color: @icon-color;
            cursor: pointer;
            left: 13px;

            @media (min-width: @screen-sm-min) {
                left: 20px;
            }

            html.sb-active &:before {
                content: "\e602";
            }
        }

        img {
            width: 80px;
        }

        &.icon-updroid-logo {
            color: @icon-color;
            right: 13px;

            @media (min-width: @screen-sm-min) {
                right: 20px;
            }

            @media (min-width: @screen-lg-min) {
                right: 41px;
            }
        }

        &.icon-upcom-logo {
            color: @icon-color;
            right: 21px;

            @media (min-width: @screen-sm-min) {
                right: 28px;
            }

            @media (min-width: @screen-lg-min) {
                right: 49px;
            }
        }
    }

    &.mobile-inactive span, &.mobile-inactive #top-order {
        opacity: 0;
    }

    &.inactive span{
        top: 10px;
    }

    &.inactive #top-order {
        top: 6px;
    }
}

header.inactive {
    box-shadow: 0 0 15px;
    background-color: #eaeaec;
    opacity: .9;
}

// Home logo & image of UpDroid - includes sign up feature
.home-header {
    position: relative;
    background-color: #eaecec;

    .row {
        padding-bottom: 21px;
        padding-top: 91px;
        position: relative;

        @media (min-width: @screen-sm-min) {
            height: 602px;
            padding-bottom: 147px;
            padding-top: 77px;
        }

        @media (min-width: @screen-md-min) {
            height: 718px;
        }

        @media (min-width: @screen-lg-min) {
            height: 922px;
            padding-bottom: 210px;
            padding-top: 119px;
        }

        > div {
            .make-xs-column(12);
            .make-sm-column(3);
            .make-sm-column-offset(8);
            .make-md-column(2);
            .make-md-column-offset(9);
            padding: 60% 21px 0 21px;

            @media (min-width: @screen-sm-min) {
                padding: 0;
            }

            p {
                padding-top: 14px;
                width: 70%;

                @media (min-width: @screen-large-mobile-min) {
                    width: 60%;
                }

                @media (min-width: @screen-sm-min) {
                    padding-top: 14px;
                    width: auto;
                }

                @media (min-width: @screen-md-min) {
                    padding-top: 21px;
                }
            }

            .btn {
                margin-top: 14px;

                @media (min-width: @screen-sm-min) {
                    margin-top: 14px;
                }

                @media (min-width: @screen-md-min) {
                    margin-top: 21px;
                }
            }
        }

        // Logo text & parallax effect (desktop only)
        h1 {
            .text-hide;
            height: 50%;
            left: 21px;
            position: absolute;
            top: 91px;
            width: 84%;

            @media (min-width: @screen-sm-min) {
                height: 378px;
                left: 8.3%;
                top: 77px;
                width: 83.4%;
            }

            @media (min-width: @screen-md-min) {
                height: 494px;
            }

            @media (min-width: @screen-lg-min) {
                height: 591px;
                top: 119px;
            }

            span {
                background-position: left top;
                background-repeat: no-repeat;
                background-size: contain;
                height: 100%;
                position: absolute;
                width: 100%;
                will-change: transform;

                @media (min-width: @screen-sm-min) {
                    height: 378px;
                }

                @media (min-width: @screen-md-min) {
                    height: 494px;
                }

                @media (min-width: @screen-lg-min) {
                    height: 591px;
                }

                &.parallax-1 {
                    .transition(opacity 0.5s ease-in-out);
                    background-image: url('/resources/images/updroid-parallax-1.gif');
                    opacity: 1;

                    &.inactive {
                        opacity: 0;
                    }
                }

                &.parallax-2 {
                    background-image: url('/resources/images/updroid-parallax-2.gif');
                }

                &.parallax-3 {
                    background-image: url('/resources/images/updroid-parallax-3.gif');
                }

                &.parallax-4 {
                    background-image: url('/resources/images/updroid-parallax-4.gif');
                }
            }
        }

        img {
            bottom: 220px;
            left: 0;
            position: absolute;
            z-index: 100;
            width: 70%;

            left: 35px;
            bottom: 205px;
            width: 50%;

            @media (min-width: @screen-large-mobile-min) {
                bottom: 175px;
            }

            @media (min-width: @screen-sm-min) {
                bottom: auto;
                left: 90px;
                bottom: 95px;
                width: 48%;
            }

            @media (min-width: @screen-md-min) {
                left: 110px;
                position: absolute;
                bottom: 100px;
                width: 44%;
            }

            @media (min-width: @screen-lg-min) {
                left: 100px;
                position: absolute;
                bottom: 130px;
                width: 44%;
            }
        }
    }
}

// Parallax photos

#first-parallax > div {
    background-image: url("/resources/images/photos/7.png");
}

#second-parallax > div {
    background-image: url("/resources/images/photos/5.png");
}

.parallax-photo {
    background-color: #f1f4f4;
    height: 50vw;
    width: 100%;
    overflow: hidden;

    @media(min-width: @screen-sm-min) {
        height: 45vw;
        
    }

    >div {
        background-repeat: no-repeat;
        background-size: 100%;
        height: 100%;

        @media(min-width: @screen-xs-min) {
            position: relative;
            top: -35vw;
            height: 150%;
        }
    }
}

.up1-control {
    background-color: #fff;
    .container {

    }

    img {
        margin-top: 100px;
        width: 100%;
    }
}

#mobile-modules {
    padding-top: 50px;
    @media(min-width: @screen-sm-min) {
        .hidden;
    }
    
    .module {
        .make-xs-column(12);
        padding-bottom: 8vh;

        >div {
            &:first-of-type {
                .make-xs-column(12);
                height: 60vw;
                .clear {
                    opacity: .1;
                }

                img {
                    z-index: 2;
                    margin-left: auto;
                    margin-right: auto;
                    left: 0;
                    right: 0;
                    width: 90%;
                    position: absolute;

                    &:last-of-type {
                        z-index: 1;
                    }
                }
            }

            &:nth-of-type(2) {
                .make-xs-column(12);
                padding: 0 8vw;
                h3 {
                    border-bottom: 2px solid @brand-red;
                    padding-bottom: 4px;
                }
                
                >div {
                    .make-xs-column(12);
                    padding-top: 10px;
                    p {
                        line-height: 1.3;
                        padding-top: 7px;
                        &:nth-of-type(odd) {
                            .make-xs-column(1);
                        } 
                        &:nth-of-type(even) {
                            .make-xs-column(11);
                        }
                    }
                }
            }
        }
    }

}

#exploded {
    background-color: #f1f4f4;
    min-height: 550px;
    height: 100vh;
    .hidden-xs;

    .container {
        height: 100%;
    }

    .row {
        height: 100%;
        padding: 0 21px;
        @media (min-width: @screen-md-min) {
            min-height: 540px;
        }

        >div:first-of-type {
            .make-xs-column(12);
            .make-sm-column(7);
            .make-md-column(8);
            .make-lg-column(7);
            height: 40%;

            @media (min-width: @screen-sm-min) {
               height: 100%;
                margin-top: 0;
            }

            img {
                    max-height: 400px;
                    position: absolute;
                    margin-left: auto;
                    margin-right: auto;
                    left: 0;
                    right: 0;
                    width: 100%;
                    top: 55%;
                    // Prevents blur caused by translate property
                    -webkit-backface-visibility: hidden;
                    -webkit-transform: translateZ(0) scale(1.0, 1.0);

                    @media (min-width: @screen-large-mobile-min) {
                        top: 55%;
                        margin-left: auto;
                        margin-right: auto;
                        left: 0;
                        right: 0;
                    }

                    @media (min-width: @screen-xs-min) {
                        top: 35%;
                        width: 90%;
                    }

                    @media (min-width: @screen-sm-min) {
                        top: 20%;
                        left: -50px;
                        height: 60%;
                        width: auto;
                    }

                    @media(min-width: @screen-md-min) {
                        left: 0;
                    }

                    @media (min-width: @screen-lg-min) {
                        top: 30%;
                    }
                }

                #cpu {
                    z-index: 1;

                }

                #base {
                    z-index: 2;

                }

                #arm {
                    z-index: 3;

                }

                #io {
                    z-index: 4;

                }

            .circle {
                position: absolute;
                width: 40vw;
                height: 40vw;
                max-height: 400px;
                max-width: 400px;
                margin-left: auto;
                margin-right: auto;
                left: 0;
                right: 0;
                border-radius: 50%;
                background-color: white;
                top: 60%;

                @media (min-width: @screen-xs-min) {
                    top: 35%;
                }

                @media (min-width: @screen-sm-min) {
                    top: 15%;
                }

                @media (min-width: @screen-lg-min) {
                    top: 20%;
                }
            }
        }

        >div:nth-of-type(2) {
            .make-xs-column(12);
            .make-sm-column(5);
            .make-md-column(4);
            .make-lg-column(5);

            h1 {
                .font-size(2.2);
                @media (min-width: @screen-sm-min) {
                    .font-size(3);
                }
            }

            // Mobile Styling
            padding-top: 75px;


            @media (min-width: @screen-xs-min) {
                padding-top: 150px;
            }

            
            @media (min-width: @screen-sm-min) {
                padding-left: 60px;
                padding-top: 92px;
            }

            @media (min-width: @screen-md-min) {
                padding-left: 0;
                padding-top: 120px;
            }

            @media (min-width: @screen-lg-min) {
                padding-top: 190px;
            }

            .active {
                opacity: 1;

                @media(min-width: @screen-md-min) {
                    background-color: #dae0e6;
                }
                
            }

            >div {
                .make-xs-column(12);
                border-top: 2px solid @brand-red;

                @media(min-width: @screen-xs-min) {
                    border-top: none;
                }

                @media(min-width: @screen-md-min) {
                    padding-top: 21px;
                }


                >div {
                    .make-xs-column(12);
                    .make-md-column(6);
                    position: absolute;
                    opacity: 0;
                    margin-top: 7px;

                    @media(min-width: @screen-sm-min) {
                        margin-top: 21px;
                    }

                    @media (min-width: @screen-md-min) {
                        margin-top: 0;
                        position: static;
                        opacity: 1;
                    }

                    padding: 7px 7px;
                    transition:                    all 500ms ease;
                        -moz-transition:           all 500ms ease;
                        -ms-transition:            all 500ms ease;
                        -o-transition:             all 500ms ease; 
                        -webkit-transition:        all 500ms ease;
                    
                    >h3 {
                        .make-xs-column(12);
                    }

                    >p {
                        .make-xs-column(12);
                        
                        .font-size(1.2);

                        @media (min-width: @screen-sm-min) {
                            .font-size(1.3);
                        }
                    }

                    >div {
                        .make-xs-column(12);
                        p {
                            padding-top: 5px;
                        }

                        >p:nth-of-type(odd) {
                            .make-xs-column(1);
                        }
                        >p:nth-of-type(even) {
                            .make-xs-column(11);
                        }
                    }                                   
                }
            }
        }
    }
}

.slick-dots {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
    @media (min-width: @screen-sm-min) {
        bottom: 50px;
    }

    >li {
        display: inline;
        padding-left: 5px;
        padding-right: 5px;

        @media (min-width: @screen-sm-min) {
            padding-left: 20px;
            padding-right: 20px;
        }

        > button {
            .font-monosten-a;
            border-radius: 50%;
            width: 20px;
            height: 20px;
            padding: 0;
            border: 0;
            transition:                    all 500ms ease;
                -moz-transition:           all 500ms ease;
                -ms-transition:            all 500ms ease;
                -o-transition:             all 500ms ease; 
                -webkit-transition:        all 500ms ease;

            &:hover {
                background-color: @brand-red;
                color: #fff;
            }
        }
    }
}

.commander-slider {
    margin-bottom: 0;
    background-color: #fff;
}

// UpDroid commander content & images
.commander {
    background-image: url('/resources/images/bg-commander-alt.gif');
    background-color: #fff;
    background-position: right 35px;
    background-repeat: no-repeat;
    background-size: 600px;
    padding-bottom: 70px;
    padding-top: 301px;

    a {
        .font-monosten-a;
        .font-size(1.4);

        color: @brand-red;
        
    }

    @media (min-width: @screen-sm-min) {
        background-position: right center;
        background-size: 138%;
        padding-bottom: 301px;
        padding-top: 91px;
    }

    @media (min-width: @screen-md-min) {
        background-position: left center;
        background-size: contain;
        padding-bottom: 253px;
        padding-top: 112px;
    }

    .row >div {
        .make-xs-column(12);
        .make-sm-column(4);
        .make-sm-column-offset(1);
        .make-md-column(3);
        .make-md-column-offset(4);
        padding: 0 21px;

        @media (min-width: @screen-sm-min) {
            padding: 0;
        }

        p {
            padding-top: 14px;

            @media (min-width: @screen-sm-min) {
                padding-right: 35px;
            }

            @media (min-width: @screen-md-min) {
                padding-top: 21px;
            }

            &:nth-of-type(2) {
                margin-bottom: 21px;
            }
        }
    }
}

// Editor styling for move and view UpCom API sections

.editor {
    background-color: #272822;
    border-radius: 3px 3px 0 0;

    >div {

        // navbar
        &:first-of-type {
            width: 100%;
            background-color: #3f3d3a;
            border-radius: 3px 3px 0 0;
            padding: 2px 0;

            >div {
                &:first-of-type {
                    margin-left: 5px;
                    background-color: #e96b41;
                }
                width: 12px;
                height: 12px;
                border-radius: 50%;
                background-color: #82817b;
                display: inline-block;
                margin: 3px 1px 0px 1px;
            }
        }
    }

    // tab bar
    >div:nth-of-type(2) {
        width: 100%;
        height: 19px;
        background-color: #353535;
        padding-top: 2px;

        >div:first-of-type {
            background-color: #4c4c4c;
            width: 100px;
            height: 100%;
            @media(min-width: @screen-md-min) {
                width: 130px;
            }
        }
        >div:nth-of-type(2) {
            background-color: #4c4c4c;
            width: 100%;
            height: 3px;            
        }
        margin-bottom: 5px;
    }

    // line numbers
    >div:nth-of-type(3) {
        padding-left: 10px;
        float: left;
        >p {
            color: #8f908a;
        }
    }
    // text description
    >div:nth-of-type(4) {
        padding-left: 40px;
        padding-right: 15px;
        margin-bottom: 2px;

        >br {
            line-height: 1.8;
            @media (min-width: @screen-lg-min) {
                line-height: 2.0;
            }
        }
        >p {
            .font-size(1.3);
            line-height: 1.4;

            @media (min-width: @screen-lg-min) {
                line-height: 1.6;
            }
            
            .yellow {
                color: #e6d85e;
            }
        }
    }
    // typed.js box
    >div:nth-of-type(5) {
        padding-left: 20px;
    }

    .type {
        .font-monosten-a;
        .font-size(1.3);
        display: inline;
        color: #fff;
    }
}

.updroid-api {
    background-color: #fff;
    padding-top: 16px;

    @media (min-width: @screen-sm-min) {
        padding-top: 100px;
    }

    .container {

    }

    .row {
        padding: 0 21px;
        margin: 0 0 40px;

        @media (min-width: @screen-sm-min) {
            margin: 0 0 80px;
        }

        >div {
            padding-top: 21px;
            >div {
                height: 350px;
                margin-bottom: 20px;

                @media (min-width: @screen-sm-min) {
                    height: 400px;
                    margin-bottom: 40px;
                }

                @media (min-width: @screen-md-min) {
                    height: 450px;
                }
            }

            >div:first-of-type {
                .make-xs-column(12);
                .make-sm-column(6);
            }

            >div:nth-of-type(2) {
                .make-xs-column(12);
                .make-sm-column(6);
                background-color: #eaecec;
            }
        }
    }
}

// Robotics content - includes sign up feature
.inside {
    background-color: #eaecec;
    padding-top: 35px;

    @media (min-width: @screen-sm-min) {
        padding-bottom: 30px;
        padding-top: 71px;
    }

    @media (min-width: @screen-md-min) {
        padding-bottom: 30px;
        padding-top: 91px;
    }

    .row {
        position: relative;
        padding: 0 21px;

        @media(min-width: @screen-md-min) {
            padding: 0 50px;
        }

        h1 {
            margin: 50px 21px 0 0;
            @media(min-width: @screen-sm-min) {
                margin: 0 0;
                width: 170px;
            }
        }

        >div:first-of-type {
            .make-xs-column(12);
            .make-sm-column(10);
            .make-md-column(9);
            >div {
                padding: 21px 21px;

                @media (min-width: @screen-sm-min) {
                    padding: 0 0;
                }

                >div {
                    .make-xs-column(12);
                    margin-left: 30px;
                    ul {
                        >li {
                            .font-monosten-a;
                            .font-size(1.2);
                            line-height: 1.2;
                        }                    
                    }
                }

                .bullet {
                    .make-xs-column(1);
                }

                .bullet-desc {
                    .make-xs-column(11);
                }

                p {
                    padding-top: 10px;
                    @media (min-width: @screen-sm-min) {
                        padding-right: 35px;
                        padding-top: 8px;
                        .font-size(1.2);
                    }

                    @media (min-width: @screen-md-min) {
                        padding-top: 10px;
                    }

                    @media(min-width: @screen-lg-min) {
                        padding-top: 14px;
                        .font-size(1.3);
                    }
                }

                &:first-of-type {
                    .make-xs-column(12);
                    .make-sm-column(4);

                    >div:first-of-type {
                        @media (min-width: @screen-sm-min) {
                            .hidden;
                        }
                        >img {
                            .make-xs-column(10);
                        }
                    }
                }

                &:nth-of-type(2) {
                    .make-xs-column(12);
                    .make-sm-column(5);
                    .make-md-column(5);
                    @media(min-width: @screen-sm-min) {
                        padding-left: 21px;
                    }

                    @media(min-width: @screen-md-min) {
                        padding-left: 21px;
                        padding-right: 21px;
                    }
                }
            }

            >img {
                .make-xs-column(9);
                .hidden-xs;
            }
        }

        >div:nth-of-type(2) {
            .make-xs-column(12);
            .make-sm-column(3);
            .make-md-column(3);

            @media (min-width: @screen-sm-min) {
                bottom: 10px;
                right: 21px;
                padding: 0 0;
                position: absolute;
                right: 2%;
            }

            @media (min-width: @screen-md-min) {
                position: absolute;
                right: 50px;
                padding-left: 30px;
            }

            @media (min-width: @screen-lg-min) {
                padding-left: 80px;
            }

            img {
                .make-xs-column-offset(1);
                .make-xs-column(10);
                .make-sm-column-offset(0);
                .make-sm-column(5);
                .make-md-column(5);
                margin-top: 42px;

                @media(min-width: @screen-sm-min) {
                    margin-top: 0;
                    position: relative;
                    right: 10px;
                }

            }

            h1 {
                .make-xs-column(12);
                margin-top: 21px;
            }

            p {
                .make-xs-column(12);
                &:first-of-type, &:last-of-type {
                    padding-top: 14px;
                }

                @media(min-width: @screen-sm-min) {
                    .font-size(1.2);
                }

                @media(min-width: @screen-lg-min) {
                    .font-size(1.3);
                }
            }

            .red {
                color: @brand-red;
            }

            >div {
                .make-sm-column(10);
            }

            >a {
                margin-top: 14px;

                @media (min-width: @screen-md-min) {
                    margin-top: 21px;
                }
            }
        }

        >div:last-of-type {
            .make-xs-column(12);
            margin-top: 20px;
            padding: 10px 0;
            height: 40px;

            @media (min-width: @screen-sm-min) {
                height: 20px;
                padding: 0;
            }

            p {
                display: inline-block;
            }
            img {
                display: inline-block;
                height: 100%;
                margin-left: 10px;
            }
        }
    }
}

.top-left-wing, .middle-left-wing, .bot-left-wing, 
.top-right-wing, .middle-right-wing, .bot-right-wing {
    display: none;
}

// Commander page
.commander-info {
    background-color: #f1f4f4;
    width: 100%;
    padding-bottom: 50px;

    .container {
        position: relative;
    }

    .row {
        padding-left: 30px;
    }

    .left {
        margin-top: 100px;
        .make-xs-column(12);
        .make-md-column(3);

        h1 {
            .font-size(2.6);
            white-space: nowrap;
        }

        h3 {
            margin-top: 21px;
            .font-size(1.9);
            line-height: 20px;
            color: #7e7e7e;
        }

        p {
            margin-top: 21px;
        }
    }

}

#app {
    padding-top: 30px;
    padding-bottom: 30px;

    @media(min-width: @screen-sm-min) {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .container {

    }
    .row {
        padding: 0 21px;
        >div {
            &:first-of-type {
                .make-xs-column(12);

                h3 {
                    .font-size(1.9);
                    color: #7e7e7e;
                }

                p {
                    padding-top: 14px;
                }
            }

            #commander {
                .make-xs-column(12);
                .make-sm-column(12);
                white-space: nowrap;
                text-align: center;

            img {
                position: relative;
                text-align: center;
                cursor: pointer;
                height: 120px;

                @media (min-width: @screen-xs-min) {
                    height: 120px;
                }

                @media (min-width: @screen-sm-min) {
                    height: 330px;
                }

                @media (min-width: @screen-md-min) {
                    height: 450px;
                }

                @media (min-width: @screen-lg-min) {
                    height: 390px;
                }

                &:first-of-type {
                    left: 3px;
                }
                &:last-of-type {
                    left: -3px;
                }

                -webkit-backface-visibility: hidden;
                -webkit-transform: translateZ(0) scale(1.0, 1.0);

                transition:                    all 500ms ease;
                    -moz-transition:           all 500ms ease;
                    -ms-transition:            all 500ms ease;
                    -o-transition:             all 500ms ease; 
                    -webkit-transition:        all 500ms ease;
                }
            }
        }
    }
}

.typed-cursor{
    .font-size(1.3);
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

.slick-slide {
    outline: none;
}


.screens {

    background-color: #ffffff;

    h3 {
        .font-size(1.9);
        line-height: 25px;
        color: #7e7e7e;
    }

    .row {
        >div {
            .make-xs-column-offset(1);
            .make-xs-column(10);
            .make-sm-column(10);
            .make-sm-column-offset(1);
            margin-top: 50px;
            @media (min-width: @screen-sm-min) {
                margin-top: 120px;
            }
            img {
                .make-xs-column(12);
                .make-sm-column(6);
                .make-md-column(6);
                padding: 25px;
            }
            video {
                .make-xs-column(12);
                .make-sm-column(6);
                .make-md-column(6);
                padding: 25px;
            }
            >div {
                .make-xs-column(12);
                .make-sm-column(6);
                .make-md-column(6);
                padding: 25px;

                @media (min-width: @screen-sm-min) {
                    padding-top: 10%;
                }

                p {
                    margin-top: 21px;
                }
            }
        }
    }
}

.changelog {
    .hidden-xs;
    background-color: #ffffff;
    #log {
        h1 {
            padding-bottom: 50px;
        }
        margin-top: 100px;
        margin-bottom: 100px;
        .make-sm-column-offset(1);
        .make-sm-column(10);
        .make-md-column-offset(1);
        .make-md-column(10);
        text-align: center;
        overflow: hidden;
    }
    pre {
        overflow: auto;
        text-align: left;
        background-color: #f1f4f4;
        height: 500px;
        .font-monosten-a();
        line-height: 18px;
        .font-size(1.3);
    }
}

// Press

.press {
    .container {
        padding: 150px 0 100px 0;

        .row {
            padding: 0 50px;
            >div:first-of-type {
                .make-xs-column(12);                
                .make-sm-column(7);

                .red {
                    color: @brand-red;
                }

                p {
                    margin-top: 21px;
                }

                a {
                    margin-top: 21px;
                    .make-xs-column(12);
                    .make-sm-column(5);
                }
            }
            >div:nth-of-type(2) {
                .make-xs-column(12);
                .make-sm-column-offset(1);
                .make-sm-column(4);
                padding-top: 50px;
                text-align: center;
                
                @media(min-width: @screen-sm-min) {
                    padding-top: 0;
                }
            }    
        }
    }
}

// Press

.press {
    .container {
        padding: 150px 0 100px 0;

        .row {
            padding: 0 50px;
            >div:first-of-type {
                .make-xs-column(12);                
                .make-sm-column(7);

                .red {
                    color: @brand-red;
                }

                p {
                    margin-top: 21px;
                }

                a {
                    margin-top: 21px;
                    .make-xs-column(12);
                    .make-sm-column(5);
                }
            }
            >div:nth-of-type(2) {
                .make-xs-column(12);
                .make-sm-column-offset(1);
                .make-sm-column(4);
                padding-top: 50px;
                text-align: center;
                
                @media(min-width: @screen-sm-min) {
                    padding-top: 0;
                }
            }    
        }
    }
}

// About us content
.about-header {
    float: left;
    width: 100%;

    @media (min-width: @screen-sm-min) {
        background-image: url('/resources/images/bg-about-us.jpg');
        background-position: left top;
        background-repeat: no-repeat;
        background-size: cover;
    }

    @media (min-width: @screen-md-min) {
        background-size: 100%;
    }

    .container {
        position: relative;
    }

    .row {
        padding-bottom: 28px;
        padding-top: 140px;
        position: relative;

        @media (min-width: @screen-sm-min) {
            padding-bottom: 140px;
            padding-top: 329px;
        }

        @media (min-width: @screen-lg-min) {
            padding-bottom: 210px;
            padding-top: 329px;
        }

        h1 {
            .make-sm-column(5);
            .make-sm-column-offset(1);
            .make-md-column(10);
            .make-md-column-offset(1);
            padding: 0 21px;

            @media (min-width: @screen-sm-min) {
                padding: 0;
            }
        }

        >p {
            .font-avenir-next-bold();
            .make-xs-column(12);
            .make-sm-column(5);
            .make-sm-column-offset(1);
            margin-top: 21px;
            padding: 0 21px;

            @media (min-width: @screen-sm-min) {
                margin-top: 0;
                padding: 0;
            }

            @media (min-width: @screen-sm-min) {
                .font-size(1.8);
                line-height: 18px;
            }

            @media (min-width: @screen-md-min) {
                .font-size(2.0);
                line-height: 20px;
                margin-bottom: 70px;
                margin-top: 70px;
            }

            @media (min-width: @screen-lg-min) {
                .font-size(2.4);
                line-height: 24px;
            }
        }

        div {
            float: left;
            width: 100%;

            @media (min-width: @screen-sm-min) {
                margin-top: 35px;
            }

            @media (min-width: @screen-md-min) {
                margin-top: 0;
            }

            >p {
                .make-xs-column(12);
                .make-sm-column(5);
                .make-md-column(4);
                margin-top: 21px;
                padding: 0 21px;

                @media (min-width: @screen-sm-min) {
                    margin-top: 0;
                    padding-left: 0;
                    padding-right: 42px;
                }

                &:first-of-type {
                    .make-xs-column(12);
                    .make-sm-column(6);
                    .make-sm-column-offset(1);
                    .make-md-column(4);
                    margin-top: 21px;
                    padding: 0 21px;

                    @media (min-width: @screen-sm-min) {
                        clear: left;
                        margin-top: 0;
                        padding-left: 0;
                        padding-right: 42px;
                    }
                }
            }
        }
    }

    span {
        .hidden-xs;
        &:extend(h2);
        position: absolute;
        right: 0;
        top: 140px;
    }
}

// List of people
.people {
    >div {
        background-image: url('/resources/images/bg-person-mobile.gif');
        background-position: center top;
        background-repeat: repeat-x;

        float: left;
        width: 100%;

        @media (min-width: @screen-sm-min) {
            background-image: url('/resources/images/bg-person.gif');
            background-repeat: no-repeat;
        }

        @media (min-width: @screen-md-min) {
            background-image: none;
        }

        // Odd rows of people
        &:nth-of-type(odd) {
            @media (min-width: @screen-md-min) {
                background-color: @people-bg-color;
            }

            .row >div {
                .make-md-column(5);

                &:before {
                    @media (min-width: @screen-md-min) {
                        background-color: @people-bg-color-alt;
                        content: '';
                        height: 300px;
                        position: absolute;
                        right: 12.5%;
                        top: 0;
                        width: 25%;
                    }

                    @media (min-width: @screen-lg-min) {
                        height: 350px;
                    }
                }
            }
        }

        // Even rows of people
        &:nth-of-type(even) {
            @media (min-width: @screen-sm-min) {
                background-image: url('/resources/images/bg-person-alt.gif');
                background-position: center top;
                background-repeat: no-repeat;
            }

            @media (min-width: @screen-md-min) {
                background-color: @people-bg-color-alt;
                background-image: none;
            }

            .row >div {
                .make-md-column(6);
                .make-md-column-offset(3);

                @media (min-width: @screen-md-min) {
                    background-color: @people-bg-color-alt2;
                    padding-left: 8.3%;
                }

                &:before {
                    @media (min-width: @screen-md-min) {
                        background-color: @people-bg-color-alt;
                        content: '';
                        height: 300px;
                        position: absolute;
                        right: 0;
                        top: 0;
                        width: 35%;
                    }

                    @media (min-width: @screen-lg-min) {
                        height: 350px;
                    }
                }
            }
        }
    }

    // Person styling
    .row >div {
        .make-xs-column(12);
        .make-sm-column(10);
        .make-sm-column-offset(1);
        height: 600px;
        position: relative;

        @media (min-width: @screen-sm-min) {
            height: 400px;
        }

        @media (min-width: @screen-md-min) {
            height: 300px;
        }

        @media (min-width: @screen-lg-min) {
            height: 350px;
        }

        h2 {
            padding-left: 21px;
            padding-top: 350px;
            width: 100%;

            @media (min-width: @screen-sm-min) {
                padding-left: 0;
                padding-top: 105px;
                width: 220px;
            }

            @media (min-width: @screen-md-min) {
                padding-top: 49px;
                width: 190px;;
            }

            @media (min-width: @screen-lg-min) {
                width: 230px;
            }
        }

        p {
            padding-left: 21px;
            padding-top: 28px;
            width: 80%;

            @media (min-width: @screen-sm-min) {
                padding-left: 0;
                width: 220px;;
            }

            @media (min-width: @screen-md-min) {
                width: 160px;;
            }

            @media (min-width: @screen-lg-min) {
                width: 200px;
            }
        }

        q {
            .font-avenir-next-bold();
            .font-size(2.0);
            display: inline-block;
            line-height: 20px;
            padding-left: 21px;
            padding-top: 28px;
            width: 80%;

            @media (min-width: @screen-sm-min) {
                .font-size(1.8);
                line-height: 20px;
                padding-left: 0;
                width: 220px;
            }

            @media (min-width: @screen-md-min) {
                width: 140px;
            }

            @media (min-width: @screen-lg-min) {
                .font-size(2.0);
                line-height: 22px;
                width: 180px;
            }
        }

        img {
            height: 280px;
            margin-right: -138px;
            position: absolute;
            right: 50%;
            top: 20px;

            @media (min-width: @screen-sm-min) {
                bottom: 0;
                height: 370px;
                margin-right: 0;
                right: 42px;
                top: auto;
            }

            @media (min-width: @screen-md-min) {
                height: 260px;
                right: 35px;
            }

            @media (min-width: @screen-lg-min) {
                height: 310px;
            }
        }

        // 2nd person in each row
        &:nth-of-type(2) {
            .make-md-column-offset(0);

            h2 {
                @media (min-width: @screen-sm-min) {
                    .pull-right;
                    clear: both;
                }

                @media (min-width: @screen-md-min) {
                    .pull-left;
                }
            }

            p {
                @media (min-width: @screen-sm-min) {
                    .pull-right;
                    clear: both;
                }

                @media (min-width: @screen-md-min) {
                    .pull-left;
                }
            }

            q {
                @media (min-width: @screen-sm-min) {
                    .pull-right;
                    clear: both;
                }

                @media (min-width: @screen-md-min) {
                    .pull-left;
                }
            }

            img {
                @media (min-width: @screen-sm-min) {
                    right: 210px;
                }

                @media (min-width: @screen-md-min) {
                    right: 35px;
                }
            }
        }
    }
}

// Common form styling
.form {
    float: left;
    width: 100%;

    .row {
        header, >div {
            .make-xs-column(12);
            .make-sm-column(6);
            .make-sm-column-offset(3);
            .make-md-column(2);
            .make-md-column-offset(1);
            padding: 0 21px;

            @media (min-width: @screen-sm-min) {
                padding: 0;
            }

            p {
                padding-top: 21px;
            }
        }

        fieldset {
            .make-xs-column(12);
            .make-sm-column(6);
            .make-sm-column-offset(3);
            .make-md-column(4);
            .make-md-column-offset(1);
            padding: 0 21px;

            @media (min-width: @screen-sm-min) {
                padding: 0;
            }

            ol {
                margin-top: 28px;

                @media (min-width: @screen-sm-min) {
                    margin-top: 49px;
                }

                @media (min-width: @screen-md-min) {
                    margin-top: 7px;
                }
            }

            li {
                margin-bottom: 28px;
            }

            label {
                .font-avenir-next-bold();
                .font-size(1.8);
                color: @form-input-label-color;
                display: inline-block;
                margin-bottom: 7px;
                width: 100%;
            }

            input[type=text], input[type=email], textarea {
                .font-avenir-next-bold();
                .font-size(1.8);
                border: solid 6px transparent;
                color: @form-input-text-color;
                padding: 10px;
                width: 100%;

                &:focus {
                    border-color: @form-input-focus-color;
                    outline: none;
                }

                &.error {
                    border-color: @form-input-error-color;
                }
            }

            textarea {
                height: 140px;
            }
        }
    }
}

// Video Modal

.video-modal{
    width: 100%;
    max-width: 100% !important;
    padding: 0 0;
    background-color: transparent;

    @media (min-width: @screen-sm-min) {
        width: 80%;
        padding-top: 40px;
    }

    .icon-cross {
        position: absolute;
        cursor: pointer;
        color:  #fff;
        top: 0px;
        right: 0px;
        .font-size(1.5);

        @media (min-width: @screen-sm-min) {
            top: 0px;
            right: 0px;
            .font-size(2.0);
        }
    }

    >div {
        margin-top: 30px;
        text-align: center;

        @media (min-width: @screen-large-mobile-min) {
            margin-top: 0;
        }
        .video-container {
            position: relative;
            padding-bottom: 56.25%;
            padding-top: 30px; height: 0; overflow: hidden;
        }
         
        .video-container iframe,
        .video-container object,
        .video-container embed {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
}

// Newsletter form
.remodal.newsletter {

    .icon-cross {
        position: absolute;
        cursor: pointer;
        color:  black;
        top: 10px;
        right: 10px;
        .font-size(1.5);

        @media (min-width: @screen-sm-min) {
            top: 10px;
            right: 10px;
            .font-size(2.0);
        }
    }

    text-align: left;
    p {
        margin-top: 14px;
    }

    >div {
        .make-sm-column(5);
    }

    form {
        .make-sm-column-offset(1);
        .make-sm-column(6);
    }

    input {
        .font-avenir-next-bold();
    }

    label {
                .font-avenir-next-bold();
                .font-size(1.8);
                color: @form-input-label-color;
                display: inline-block;
                margin-bottom: 7px;
                width: 100%;
                margin-top: 14px;

                @media(min-width: @screen-sm-min) {
                    margin-top: 0;
                }
            }

    input[type=text], input[type=email], textarea {
        .font-avenir-next-bold();
        .font-size(1.8);
        border: solid 6px transparent;
        background-color: #eaecec;
        color: @form-input-text-color;
        padding: 10px;
        width: 100%;
        margin-bottom: 14px;

        &:focus {
            border-color: @form-input-focus-color;
            outline: none;
        }

        &.error {
            border-color: @form-input-error-color;
        }
    }

    textarea {
        height: 140px;
    }
}

// Contact form
.form-contact {
    background-color: @contact-bg-color;

    .row {
        padding-bottom: 77px;
        padding-top: 77px;

        fieldset {
            input[type=text], input[type=email], textarea {
                background-color: @contact-input-bg-color;
            }
        }
    }
}

// Footer copyright
footer[role=contentinfo] {
    background-color: #fff;
    float: left;
    padding-bottom: 32px;
    padding-left: 21px;
    padding-top: 84px;
    position: relative;
    width: 100%;

    @media (min-width: @screen-sm-min) {
        padding-left: 0;
        padding-top: 70px;
    }

    @media (min-width: @screen-lg-min) {
        padding-bottom: 49px;
    }

    p {
        .make-xs-column(12);
        .make-sm-column(4);
        .make-sm-column-offset(7);

        @media (min-width: @screen-sm-min) {
            .text-right;
        }
    }
}

// Back to top arrow
.icon-arrow-up {
    .font-size(3.4);
    .transition(bottom 0.3s ease-in-out, opacity 0.3s ease-in-out;); // Animate bottom position & opacity
    bottom: 56px;
    color: @icon-color;
    cursor: pointer;
    left: 50%;
    margin-left: -17px;
    position: absolute;
    z-index: 100;

    @media (min-width: @screen-sm-min) {
        bottom: 28px;
        left: 28px;
        margin-left: 0;
    }

    @media (min-width: @screen-md-min) {
        bottom: -20px;
        left: 28px;
        opacity: 0;
    }

    @media (min-width: @screen-lg-min) {
        left: 49px;
    }

    &.active {
        opacity: 1;

        @media (min-width: @screen-md-min) {
            bottom: 28px;
            left: 28px;
        }

        @media (min-width: @screen-lg-min) {
            bottom: 49px;
            left: 49px;
        }
    }
}