/// <reference path="../bootstrap/bootstrap.less" />
/// <reference path="variables.less" />
/// <reference path="utilities.less" />
/// <reference path="type.less" />

html {
	font-size: 62.5%;
}

body {
    .transition(padding 0.5s ease-in); // Fade in border
    background-color: @container-border-color;
    color: @text-color;
    padding: 8px;

    @media (min-width: @screen-sm-min) {
        padding: 0;
    }

    &.padding-active {
        padding: 8px;
    }

    html.sb-active & {
        padding-left: 0;
        .transition(none);
    }
}

// Custom text selection styling
::selection {
    background-color: @text-select-bg-color;
    color: @text-select-color;
}
::-moz-selection {
    background-color: @text-select-bg-color;
    color: @text-select-color;
}

// Push navigation
nav {
    background-color: @nav-bg-color;

    >div {
        padding-left: 15%;
        width: 100%;

        @media (min-width: @screen-sm-min) {
            padding-left: 13%;
        }

        @media (min-width: @screen-md-min) {
            padding-left: 20%;
        }

        .main-nav {
            li {
                margin-top: 28px;

                @media (min-width: @screen-sm-min) {
                    margin-top: 42px;
                }

                @media (min-width: @screen-md-min) {
                    margin-top: 35px;
                }

                @media (min-width: @screen-lg-min) {
                    margin-top: 56px;
                }
            }

            a {
                .font-avenir-next-bold();
                .font-size(3.0);
                .transition(color 0.5s ease-in-out);
                color: @nav-text-color;
                line-height: 32px;

                @media (min-width: @screen-sm-min) {
                    .font-size(2.6);
                    line-height: 27px;
                }

                @media (min-width: @screen-lg-min) {
                    .font-size(3.1);
                    line-height: 32px;
                }

                html.touch &:hover {
                    color: @nav-text-color;
                }

                html.no-touch &:hover {
                    color: @nav-text-hover-color;
                    text-decoration: none;
                }
            }
        }

        .follow-us {
            .font-monosten-a();
            .font-size(1.4);
            color: @nav-text-color;
            display: inline-block;
            line-height: 20px;
            margin-top: 56px;
            width: 70%;

            @media (min-width: @screen-sm-min) {
                margin-top: 84px;
            }

            @media (min-width: @screen-md-min) {
                margin-top: 70px;
                width: 45%;
            }

            @media (min-width: @screen-lg-min) {
                margin-top: 112px;
            }
        }

        .social-nav {
            margin-top: 28px;

            @media (min-width: @screen-sm-min) {
                margin-top: 42px;
            }

            @media (min-width: @screen-md-min) {
                margin-top: 35px;
            }

            @media (min-width: @screen-lg-min) {
                margin-top: 56px;
            }

            li {
                display: inline-block;
                width: 32%;

                a {
                    .font-size(3.4);
                    .transition(color 0.5s ease-in-out);
                    color: @nav-text-color;

                    html.touch &:hover {
                        color: @nav-text-color;
                    }

                    html.no-touch &:hover {
                        color: @nav-text-hover-color;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

.wrapper {
    background-color: @container-bg-color;
    float: left;
    overflow: hidden;
    position: relative;
    width: 100%;
}

// Burger icon & UpDroid logo icon
header[role=banner] {
    span {
        .font-size(3.4);
        .transition(opacity 0.5s ease-in-out);
        position: absolute;
        top: 21px;
        z-index: 100;

        @media (min-width: @screen-sm-min) {
            top: 28px;
        }

        @media (min-width: @screen-lg-min) {
            top: 49px;
        }

        &.icon-burger {
            color: @icon-color;
            cursor: pointer;
            left: 21px;

            @media (min-width: @screen-sm-min) {
                left: 28px;
            }

            @media (min-width: @screen-lg-min) {
                left: 49px;
            }

            html.sb-active &:before {
                content: "\e602";
            }
        }

        &.icon-updroid-logo {
            color: @icon-color;
            right: 21px;

            @media (min-width: @screen-sm-min) {
                right: 28px;
            }

            @media (min-width: @screen-lg-min) {
                right: 49px;
            }
        }
    }

    &.inactive span {
        opacity: 0;
    }

}

// Home logo & image of UpDroid - includes sign up feature
.home-header {
    float: left;
    position: relative;
    width: 100%;

    .row {
        padding-bottom: 21px;
        padding-top: 91px;
        position: relative;

        @media (min-width: @screen-sm-min) {
            height: 602px;
            padding-bottom: 147px;
            padding-top: 77px;
        }

        @media (min-width: @screen-md-min) {
            height: 718px;
        }

        @media (min-width: @screen-lg-min) {
            height: 922px;
            padding-bottom: 210px;
            padding-top: 119px;
        }

        > div {
            .make-xs-column(12);
            .make-sm-column(3);
            .make-sm-column-offset(8);
            .make-md-column(2);
            .make-md-column-offset(9);
            padding: 60% 21px 0 21px;

            @media (min-width: @screen-sm-min) {
                padding: 0;
            }

            p {
                padding-top: 14px;
                width: 70%;

                @media (min-width: @screen-large-mobile-min) {
                    width: 60%;
                }

                @media (min-width: @screen-sm-min) {
                    padding-top: 14px;
                    width: auto;
                }

                @media (min-width: @screen-md-min) {
                    padding-top: 21px;
                }
            }

            .btn {
                margin-top: 14px;

                @media (min-width: @screen-sm-min) {
                    margin-top: 14px;
                }

                @media (min-width: @screen-md-min) {
                    margin-top: 21px;
                }
            }
        }

        // Logo text & parallax effect (desktop only)
        h1 {
            .text-hide;
            height: 50%;
            left: 21px;
            position: absolute;
            top: 91px;
            width: 84%;

            @media (min-width: @screen-sm-min) {
                height: 378px;
                left: 8.3%;
                top: 77px;
                width: 83.4%;
            }

            @media (min-width: @screen-md-min) {
                height: 494px;
            }

            @media (min-width: @screen-lg-min) {
                height: 591px;
                top: 119px;
            }

            span {
                background-position: left top;
                background-repeat: no-repeat;
                background-size: contain;
                height: 100%;
                position: absolute;
                width: 100%;
                will-change: transform;

                @media (min-width: @screen-sm-min) {
                    height: 378px;
                }

                @media (min-width: @screen-md-min) {
                    height: 494px;
                }

                @media (min-width: @screen-lg-min) {
                    height: 591px;
                }

                &.parallax-1 {
                    .transition(opacity 0.5s ease-in-out);
                    background-image: url('/resources/images/updroid-parallax-1.gif');
                    opacity: 1;

                    &.inactive {
                        opacity: 0;
                    }
                }

                &.parallax-2 {
                    background-image: url('/resources/images/updroid-parallax-2.gif');
                }

                &.parallax-3 {
                    background-image: url('/resources/images/updroid-parallax-3.gif');
                }

                &.parallax-4 {
                    background-image: url('/resources/images/updroid-parallax-4.gif');
                }
            }
        }

        img {
            bottom: 220px;
            left: 0;
            position: absolute;
            z-index: 100;
            width: 70%;

            @media (min-width: @screen-large-mobile-min) {
                bottom: 190px;
            }

            @media (min-width: @screen-sm-min) {
                bottom: auto;
                left: 38px;
                top: 230px;
                width: 67%;
            }

            @media (min-width: @screen-md-min) {
                left: 50px;
                position: absolute;
                top: 280px;
                width: 67%;
            }

            @media (min-width: @screen-lg-min) {
                top: 360px;
                width: 68%;
            }
        }
    }

    .icon-arrow-down {
        .font-size(3.4);
        .hidden-xs;
        .hidden-sm;
        color: @icon-color;
        position: absolute;

        @media (min-width: @screen-md-min) {
            bottom: 70px;
            left: 28px;
        }

        @media (min-width: @screen-lg-min) {
            bottom: 140px;
            left: 49px;
        }
    }
}

// Image carousel
.image-gallery {
    float: left;
    width: 100%;

    .row >div {
        .make-xs-column(12);
        .make-sm-column(4);
        background-color: @image-gallery-item-bg-color;
        padding-bottom: 100%;
        position: relative;

        @media (min-width: @screen-sm-min) {
            padding-bottom: 33.3%;
        }

        &:nth-of-type(even) {
            background-color: @image-gallery-item-bg-color-alt;
        }

        header {
            .transform(translateY(-50%));
            padding-left: 21px;
            padding-right: 10%;
            position: absolute;
            top: 50%;

            @media (min-width: @screen-sm-min) {
                padding-left: 10%;
                padding-right: 10%;
            }

            @media (min-width: @screen-md-min) {
                padding-left: 20%;
                padding-right: 20%;
            }

            p {
                margin-top: 21px;
            }
        }

        .images {
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;

            img {
                cursor: pointer;
                width: 100%;
            }

            .cycle-pager {
                .text-center;
                bottom: 27px;
                display: block;
                left: 0;
                overflow: hidden;
                position: absolute;
                width: 100%;
                z-index: 500;

                @media (min-width: @screen-sm-min) {
                    bottom: 20px;
                }

                @media (min-width: @screen-md-min) {
                    bottom: 27px;
                }

                span {
                    .border-radius(50%, 50%, 50%, 50%);
                    .text-hide;
                    background-color: @image-gallery-pagination-color;
                    cursor: pointer;
                    display: inline-block;
                    height: 8px;
                    margin: 0 8px;
                    width: 8px;

                    &.cycle-pager-active {
                        background-color: @image-gallery-pagination-active-color;
                    }
                }
            }
        }

        >span {
            .font-monosten-a();
            .font-size(1.4);
            line-height: 20px;
            left: 21px;
            position: absolute;

            @media (min-width: @screen-sm-min) {
                .font-size(1.3);
                left: 14px;
                line-height: 18px;
            }

            @media (min-width: @screen-md-min) {
                left: 21px;
            }

            @media (min-width: @screen-lg-min) {
                .font-size(1.4);
                line-height: 20px;
            }

            &:first-of-type {
                top: 21px;

                @media (min-width: @screen-sm-min) {
                    top: 14px;
                }

                @media (min-width: @screen-md-min) {
                    top: 21px;
                }
            }

            &:last-of-type {
                bottom: 21px;

                @media (min-width: @screen-sm-min) {
                    bottom: 14px;
                }

                @media (min-width: @screen-md-min) {
                    bottom: 21px;
                }
            }
        }
    }
}

// UpDroid commander content & images
.commander {
    background-image: url('/resources/images/bg-commander.gif');
    background-position: right 35px;
    background-repeat: no-repeat;
    background-size: 600px;
    float: left;
    padding-bottom: 70px;
    padding-top: 301px;
    width: 100%;

    @media (min-width: @screen-sm-min) {
        background-position: right center;
        background-size: 138%;
        padding-bottom: 301px;
        padding-top: 91px;
    }

    @media (min-width: @screen-md-min) {
        background-position: left center;
        background-size: contain;
        padding-bottom: 273px;
        padding-top: 112px;
    }

    .row >div {
        .make-xs-column(12);
        .make-sm-column(4);
        .make-sm-column-offset(1);
        .make-md-column(3);
        .make-md-column-offset(4);
        padding: 0 21px;

        @media (min-width: @screen-sm-min) {
            padding: 0;
        }

        p {
            padding-top: 14px;

            @media (min-width: @screen-sm-min) {
                padding-right: 35px;
            }

            @media (min-width: @screen-md-min) {
                padding-top: 21px;
            }
        }
    }
}

// Robotics content - includes sign up feature
.robotics {
    background-color: @robotics-bg-color;
    float: left;
    padding-top: 35px;
    width: 100%;

    @media (min-width: @screen-sm-min) {
        padding-bottom: 77px;
        padding-top: 91px;
    }

    @media (min-width: @screen-md-min) {
        padding-bottom: 112px;
        padding-top: 112px;
    }

    .row {
        position: relative;

        >div {
            &:first-of-type {
                .make-xs-column(12);
                .make-sm-column(7);
                .make-sm-column-offset(1);
                .make-lg-column(3);
                .make-lg-column-offset(1);
                padding-left: 21px;
                padding-right: 21px;

                @media (min-width: @screen-sm-min) {
                    padding-left: 0;
                    padding-right: 0;
                }

                h2 {
                    @media (min-width: @screen-sm-min) {
                        padding-right: 35px;
                    }
                }

                p {
                    padding-top: 14px;

                    @media (min-width: @screen-sm-min) {
                        padding-right: 35px;
                    }

                    @media (min-width: @screen-md-min) {
                        padding-top: 21px;
                    }
                }
            }

            &:nth-of-type(2) {
                .hidden-xs;
                .make-sm-column(6);
                .make-sm-column-offset(1);
                .make-lg-column(3);
                .make-lg-column-offset(0);
                padding-top: 14px;

                @media (min-width: @screen-md-min) {
                    padding-top: 21px;
                }

                @media (min-width: @screen-lg-min) {
                    padding-top: 0;
                }

                p {
                    padding-right: 35px;
                    padding-top: 14px;

                    @media (min-width: @screen-md-min) {
                        padding-top: 21px;
                    }

                    &:first-of-type {
                        padding-top: 0;
                    }
                }
            }

            &:last-of-type {
                .make-xs-column(12);
                .make-sm-column(3);
                .make-md-column(2);
                padding-left: 21px;
                padding-right: 21px;

                @media (min-width: @screen-sm-min) {
                    bottom: 0;
                    padding-left: 0;
                    padding-right: 0;
                    position: absolute;
                    right: 8.3%;
                }

                p {
                    padding-top: 14px;
                    width: 70%;

                    @media (min-width: @screen-large-mobile-min) {
                        width: 60%;
                    }

                    @media (min-width: @screen-sm-min) {
                        width: auto;
                    }

                    @media (min-width: @screen-md-min) {
                        padding-top: 21px;
                    }
                }

                .btn {
                    margin-top: 14px;

                    @media (min-width: @screen-md-min) {
                        margin-top: 21px;
                    }
                }
            }
        }

        img {
            margin-left: 21px;
            margin-top: 105px;
            width: 90%;

            @media (min-width: @screen-sm-min) {
                margin-left: 0;
                margin-top: 0;
                position: absolute;
                right: 21px;
                top: 294px;
                width: 32%;
            }

            @media (min-width: @screen-md-min) {
                position: absolute;
                right: 21px;
                top: 147px;
                width: 32%;
            }

            @media (min-width: @screen-lg-min) {
                right: 56px;
                top: 203px;
                width: 28%;
            }
        }
    }
}

// About us content
.about-header {
    float: left;
    width: 100%;

    @media (min-width: @screen-sm-min) {
        background-image: url('/resources/images/bg-about-us.jpg');
        background-position: left top;
        background-repeat: no-repeat;
        background-size: cover;
    }

    @media (min-width: @screen-md-min) {
        background-size: 100%;
    }

    .container {
        position: relative;
    }

    .row {
        padding-bottom: 28px;
        padding-top: 140px;
        position: relative;

        @media (min-width: @screen-sm-min) {
            padding-bottom: 140px;
            padding-top: 329px;
        }

        @media (min-width: @screen-lg-min) {
            padding-bottom: 210px;
            padding-top: 329px;
        }

        h1 {
            .make-sm-column(5);
            .make-sm-column-offset(1);
            .make-md-column(10);
            .make-md-column-offset(1);
            padding: 0 21px;

            @media (min-width: @screen-sm-min) {
                padding: 0;
            }
        }

        >p {
            .font-avenir-next-bold();
            .make-xs-column(12);
            .make-sm-column(5);
            .make-sm-column-offset(1);
            margin-top: 21px;
            padding: 0 21px;

            @media (min-width: @screen-sm-min) {
                margin-top: 0;
                padding: 0;
            }

            @media (min-width: @screen-sm-min) {
                .font-size(1.8);
                line-height: 18px;
            }

            @media (min-width: @screen-md-min) {
                .font-size(2.0);
                line-height: 20px;
                margin-bottom: 70px;
                margin-top: 70px;
            }

            @media (min-width: @screen-lg-min) {
                .font-size(2.4);
                line-height: 24px;
            }
        }

        div {
            float: left;
            width: 100%;

            @media (min-width: @screen-sm-min) {
                margin-top: 35px;
            }

            @media (min-width: @screen-md-min) {
                margin-top: 0;
            }

            >p {
                .make-xs-column(12);
                .make-sm-column(5);
                .make-md-column(4);
                margin-top: 21px;
                padding: 0 21px;

                @media (min-width: @screen-sm-min) {
                    margin-top: 0;
                    padding-left: 0;
                    padding-right: 42px;
                }

                &:first-of-type {
                    .make-xs-column(12);
                    .make-sm-column(6);
                    .make-sm-column-offset(1);
                    .make-md-column(4);
                    margin-top: 21px;
                    padding: 0 21px;

                    @media (min-width: @screen-sm-min) {
                        clear: left;
                        margin-top: 0;
                        padding-left: 0;
                        padding-right: 42px;
                    }
                }
            }
        }
    }

    span {
        .hidden-xs;
        &:extend(h2);
        position: absolute;
        right: 0;
        top: 140px;
    }
}

// List of people
.people {
    >div {
        background-image: url('/resources/images/bg-person-mobile.gif');
        background-position: center top;
        background-repeat: repeat-x;

        float: left;
        width: 100%;

        @media (min-width: @screen-sm-min) {
            background-image: url('/resources/images/bg-person.gif');
            background-repeat: no-repeat;
        }

        @media (min-width: @screen-md-min) {
            background-image: none;
        }

        // Odd rows of people
        &:nth-of-type(odd) {
            @media (min-width: @screen-md-min) {
                background-color: @people-bg-color;
            }

            .row >div {
                .make-md-column(5);

                &:before {
                    @media (min-width: @screen-md-min) {
                        background-color: @people-bg-color-alt;
                        content: '';
                        height: 300px;
                        position: absolute;
                        right: 12.5%;
                        top: 0;
                        width: 25%;
                    }

                    @media (min-width: @screen-lg-min) {
                        height: 350px;
                    }
                }
            }
        }

        // Even rows of people
        &:nth-of-type(even) {
            @media (min-width: @screen-sm-min) {
                background-image: url('/resources/images/bg-person-alt.gif');
                background-position: center top;
                background-repeat: no-repeat;
            }

            @media (min-width: @screen-md-min) {
                background-color: @people-bg-color-alt;
                background-image: none;
            }

            .row >div {
                .make-md-column(6);
                .make-md-column-offset(3);

                @media (min-width: @screen-md-min) {
                    background-color: @people-bg-color-alt2;
                    padding-left: 8.3%;
                }

                &:before {
                    @media (min-width: @screen-md-min) {
                        background-color: @people-bg-color-alt;
                        content: '';
                        height: 300px;
                        position: absolute;
                        right: 0;
                        top: 0;
                        width: 35%;
                    }

                    @media (min-width: @screen-lg-min) {
                        height: 350px;
                    }
                }
            }
        }
    }

    // Person styling
    .row >div {
        .make-xs-column(12);
        .make-sm-column(10);
        .make-sm-column-offset(1);
        height: 600px;
        position: relative;

        @media (min-width: @screen-sm-min) {
            height: 400px;
        }

        @media (min-width: @screen-md-min) {
            height: 300px;
        }

        @media (min-width: @screen-lg-min) {
            height: 350px;
        }

        h2 {
            padding-left: 21px;
            padding-top: 350px;
            width: 100%;

            @media (min-width: @screen-sm-min) {
                padding-left: 0;
                padding-top: 105px;
                width: 220px;
            }

            @media (min-width: @screen-md-min) {
                padding-top: 49px;
                width: 190px;;
            }

            @media (min-width: @screen-lg-min) {
                width: 230px;
            }
        }

        p {
            padding-left: 21px;
            padding-top: 28px;
            width: 80%;

            @media (min-width: @screen-sm-min) {
                padding-left: 0;
                width: 220px;;
            }

            @media (min-width: @screen-md-min) {
                width: 160px;;
            }

            @media (min-width: @screen-lg-min) {
                width: 200px;
            }
        }

        q {
            .font-avenir-next-bold();
            .font-size(2.0);
            display: inline-block;
            line-height: 20px;
            padding-left: 21px;
            padding-top: 28px;
            width: 80%;

            @media (min-width: @screen-sm-min) {
                .font-size(1.8);
                line-height: 20px;
                padding-left: 0;
                width: 220px;
            }

            @media (min-width: @screen-md-min) {
                width: 140px;
            }

            @media (min-width: @screen-lg-min) {
                .font-size(2.0);
                line-height: 22px;
                width: 180px;
            }
        }

        img {
            height: 280px;
            margin-right: -138px;
            position: absolute;
            right: 50%;
            top: 20px;

            @media (min-width: @screen-sm-min) {
                bottom: 0;
                height: 370px;
                margin-right: 0;
                right: 42px;
                top: auto;
            }

            @media (min-width: @screen-md-min) {
                height: 260px;
                right: 35px;
            }

            @media (min-width: @screen-lg-min) {
                height: 310px;
            }
        }

        // 2nd person in each row
        &:nth-of-type(2) {
            .make-md-column-offset(0);

            h2 {
                @media (min-width: @screen-sm-min) {
                    .pull-right;
                    clear: both;
                }

                @media (min-width: @screen-md-min) {
                    .pull-left;
                }
            }

            p {
                @media (min-width: @screen-sm-min) {
                    .pull-right;
                    clear: both;
                }

                @media (min-width: @screen-md-min) {
                    .pull-left;
                }
            }

            q {
                @media (min-width: @screen-sm-min) {
                    .pull-right;
                    clear: both;
                }

                @media (min-width: @screen-md-min) {
                    .pull-left;
                }
            }

            img {
                @media (min-width: @screen-sm-min) {
                    right: 210px;
                }

                @media (min-width: @screen-md-min) {
                    right: 35px;
                }
            }
        }
    }
}

// Common form styling
.form {
    float: left;
    width: 100%;

    .row {
        header, >div {
            .make-xs-column(12);
            .make-sm-column(6);
            .make-sm-column-offset(3);
            .make-md-column(2);
            .make-md-column-offset(1);
            padding: 0 21px;

            @media (min-width: @screen-sm-min) {
                padding: 0;
            }

            p {
                padding-top: 21px;
            }
        }

        fieldset {
            .make-xs-column(12);
            .make-sm-column(6);
            .make-sm-column-offset(3);
            .make-md-column(4);
            .make-md-column-offset(1);
            padding: 0 21px;

            @media (min-width: @screen-sm-min) {
                padding: 0;
            }

            ol {
                margin-top: 28px;

                @media (min-width: @screen-sm-min) {
                    margin-top: 49px;
                }

                @media (min-width: @screen-md-min) {
                    margin-top: 7px;
                }
            }

            li {
                margin-bottom: 28px;
            }

            label {
                .font-avenir-next-bold();
                .font-size(1.8);
                color: @form-input-label-color;
                display: inline-block;
                margin-bottom: 7px;
                width: 100%;
            }

            input[type=text], input[type=email], textarea {
                .font-avenir-next-bold();
                .font-size(1.8);
                border: solid 6px transparent;
                color: @form-input-text-color;
                padding: 10px;
                width: 100%;

                &:focus {
                    border-color: @form-input-focus-color;
                    outline: none;
                }

                &.error {
                    border-color: @form-input-error-color;
                }
            }

            textarea {
                height: 140px;
            }
        }
    }
}

// Newsletter form
.form-newsletter {
    .row {
        padding-bottom: 77px;
        padding-top: 91px;

        @media (min-width: @screen-sm-min) {
            padding-top: 77px;
        }

        @media (min-width: @screen-lg-min) {
            padding-top: 119px;
        }
    }
}

// Contact form
.form-contact {
    background-color: @contact-bg-color;

    .row {
        padding-bottom: 77px;
        padding-top: 77px;

        fieldset {
            input[type=text], input[type=email], textarea {
                background-color: @contact-input-bg-color;
            }
        }
    }
}

// Footer copyright
footer[role=contentinfo] {
    background-color: @footer-bg-color;
    float: left;
    padding-bottom: 21px;
    padding-left: 21px;
    padding-top: 84px;
    position: relative;
    width: 100%;

    @media (min-width: @screen-sm-min) {
        padding-left: 0;
        padding-top: 70px;
    }

    p {
        .make-xs-column(12);
        .make-sm-column(4);
        .make-sm-column-offset(7);

        @media (min-width: @screen-sm-min) {
            .text-right;
        }
    }
}

// Back to top arrow
.icon-arrow-up {
    .font-size(3.4);
    .transition(bottom 0.3s ease-in-out, opacity 0.3s ease-in-out;); // Animate bottom position & opacity
    bottom: 56px;
    color: @icon-color;
    cursor: pointer;
    left: 50%;
    margin-left: -17px;
    position: absolute;
    z-index: 100;

    @media (min-width: @screen-sm-min) {
        bottom: 28px;
        left: 28px;
        margin-left: 0;
    }

    @media (min-width: @screen-md-min) {
        bottom: -20px;
        left: 28px;
        opacity: 0;
    }

    @media (min-width: @screen-lg-min) {
        left: 49px;
    }

    &.active {
        opacity: 1;

        @media (min-width: @screen-md-min) {
            bottom: 28px;
            left: 28px;
        }

        @media (min-width: @screen-lg-min) {
            bottom: 49px;
            left: 49px;
        }
    }
}