/* -----------------------------------
 * Site Variables
 */
@container-tablet:        					((744px + @grid-gutter-width));
@container-desktop:       					((972px + @grid-gutter-width));
@container-large-desktop: 					((1164px + @grid-gutter-width));
@grid-gutter-width:       					0;
@icon-font-path:          					"../fonts/";

// Brand colors
@brand-red:                                 #ff2919;

// Global
@container-bg-color:                        #eaecec;
@container-border-color:                    @brand-red;
@heading-color:                             #0c0c0c;
@icon-color:                                #0c0c0c;
@icon-hover-color:                          @brand-red;
@text-color:                                #666666;

// Navigation
@nav-bg-color:                              #0c0c0c;
@nav-text-color:                            #fff;
@nav-text-hover-color:                      @brand-red;

// Image gallery
@image-gallery-item-bg-color:               #fff;
@image-gallery-item-bg-color-alt:           #f1f4f4;

// Robotics
@robotics-bg-color:                         #fff;

// Button red
@btn-red-hover-bg-color:                    #f1f4f4;
@btn-red-bg-color:                          @brand-red;
@btn-red-text-color:                        #fff;

// Footer
@footer-bg-color:                           #fff;